<a href="https://colab.research.google.com/github/RatchanonPa/python_dataviz2024/blob/main/Function_Loop_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW1 Note

In [ ]:
inp = '12:30:15-13.41.07'
inp_list = inp.split('-')
inp_list

['12:30:15', '13.41.07']

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน


backtick (`) ==> กด ~ ค้าง, alt - 9>6 (full keyboard with number)

tilde (~)

curly bracket ({ })

square bracket ([ ])

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():   #ตัวอย่าง function ที่ไม่มีทั้ง input และ output
  print('Ratchanon')

In [ ]:
print_myname()

Ratchanon

In [ ]:
def print_name(surname,ID,name): #ตัวอย่างฟังก์ชันที่มี input หลายตัวกับ output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_name('อินทระ','64xxxxxx','ธนพงศ์')

'ชื่อ ธนพงศ์ นามสกุล อินทระ รหัส 64xxxxxx'

In [ ]:
print(print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2'))

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
print_name(name='รัชชานนท์', surname='พันกาฬสินธุ์', ID='653020217-4')

'ชื่อ รัชชานนท์ นามสกุล พันกาฬสินธุ์ รหัส 653020217-4'

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

In [ ]:
out_printname1 = print_name(name='รัชชานนท์', surname='พันกาฬสินธุ์', ID='653020217-4')#มี output

In [ ]:
out_printname1

'ชื่อ รัชชานนท์ นามสกุล พันกาฬสินธุ์ รหัส 653020217-4'

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชันได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('รัชชานนท์', 'พันกาฬสินธุ์', '653020217-4', grade = 'A')

ชื่อ รัชชานนท์ นามสกุล พันกาฬสินธุ์ รหัส 653020217-4
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('รัชชานนท์', 'พันกาฬสินธุ์')

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

##Quize2 เขียน function ที่รับ input 1 ตัวตาม format
hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหาช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง time1 และ time2โดยยังไม่ต้องสนใจว่า time2 ข้ามไปอีกวันได้

In [ ]:
def my_time(time1, time2):
  t1 = time1.split(':')
  t2 = time2.split(':')
  h11 = t1[0]
  m12 = t1[1]
  s13 = t1[2]
  h21 = t2[0]
  m22 = t2[1]
  s23 = t2[2]
  ts1 = int(h11)*3600 + int(m12)*60 + int(s13)
  ts2 = int(h21)*3600 + int(m22)*60 + int(s23)
  print(f"ช่วงเวลาเป็นวินาทีคือ {ts2-ts1} วินาที")

In [ ]:
my_time('12:30:15', '13:41:07')

ช่วงเวลาเป็นวินาทีคือ 4252 วินาที

In [ ]:
def cal_dif_secs(timeinput):
  timelist = timeinput.split('-')
  time1 = timelist[0].split(':')
  time2 = timelist[1].split(':')
  time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
  time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
  dift = time2_sec - time1_sec
  return dift

##Quize3.5

In [ ]:
def my_time1(time2, time1 = '00:00:00'):
  t1 = time1.split(':')
  t2 = time2.split(':')
  h11 = t1[0]
  m12 = t1[1]
  s13 = t1[2]
  h21 = t2[0]
  m22 = t2[1]
  s23 = t2[2]
  ts1 = int(h11)*3600 + int(m12)*60 + int(s13)
  ts2 = int(h21)*3600 + int(m22)*60 + int(s23)
  print(f"ช่วงเวลาเป็นวินาที คือ {ts2-ts1} วินาที")

In [ ]:
my_time1('12:30:15')

ช่วงเวลาเป็นวินาที คือ 45015 วินาที

# LOOP การวนซ้ำ

##HW2

วนลูปหาช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง time1 และ time2 ต่อไปนี้

1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

In [ ]:
def time_to_seconds(time_str):
    h, m, s = map(int, time_str.split(':'))
    return h * 3600 + m * 60 + s

In [ ]:
def seconds_difference(time1, time2):
    seconds1 = time_to_seconds(time1)
    seconds2 = time_to_seconds(time2)
    diff = seconds2 - seconds1
    if diff < 0:
        diff += 24 * 3600  # กรณีข้ามวัน
    return diff

In [ ]:
# tuple แก้ data ข้างในไม่ได้
time_pairs = [
    ("18:09:10", "18:25:10"),
    ("13:38:39", "23:54:39"),
    ("16:49:58", "18:05:58"),
    ("21:49:10", "22:24:10"),
    ("08:52:21", "09:25:21"),
    ("06:56:26", "07:49:26"),
    ("12:08:05", "12:43:05"),
    ("01:48:38", "07:18:38"),
    ("08:51:21", "10:17:21"),
    ("17:05:17", "18:09:17")
]

In [ ]:
for i, (time1, time2) in enumerate(time_pairs, 1):
    diff = seconds_difference(time1, time2)
    print(f"{i}. ช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง {time1} - {time2} คือ {diff} วินาที")

1. ช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง 18:09:10 - 18:25:10 คือ 960 วินาที
2. ช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง 13:38:39 - 23:54:39 คือ 36960 วินาที
3. ช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง 16:49:58 - 18:05:58 คือ 4560 วินาที
4. ช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง 21:49:10 - 22:24:10 คือ 2100 วินาที
5. ช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง 08:52:21 - 09:25:21 คือ 1980 วินาที
6. ช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง 06:56:26 - 07:49:26 คือ 3180 วินาที
7. ช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง 12:08:05 - 12:43:05 คือ 2100 วินาที
8. ช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง 01:48:38 - 07:18:38 คือ 19800 วินาที
9. ช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง 08:51:21 - 10:17:21 คือ 5160 วินาที
10. ช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง 17:05:17 - 18:09:17 คือ 3840 วินาที

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

# จบวันที่ 7 มค 2564

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = ',') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / ,h -> / ,a -> / ,n -> / ,a -> / ,p -> / ,o -> / ,n -> / ,g -> / ,

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print(' ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
  2  x  1  =  2
  2  x  2  =  4
  2  x  3  =  6
  2  x  4  =  8
  2  x  5  =  10
  2  x  6  =  12
  2  x  7  =  14
  2  x  8  =  16
  2  x  9  =  18
  2  x  10  =  20
  2  x  11  =  22
  2  x  12  =  24
the inner loop is end
now name1 = 3
  3  x  1  =  3
  3  x  2  =  6
  3  x  3  =  9
  3  x  4  =  12
  3  x  5  =  15
  3  x  6  =  18
  3  x  7  =  21
  3  x  8  =  24
  3  x  9  =  27
  3  x  10  =  30
  3  x  11  =  33
  3  x  12  =  36
the inner loop is end
now name1 = 4
  4  x  1  =  4
  4  x  2  =  8
  4  x  3  =  12
  4  x  4  =  16
  4  x  5  =  20
  4  x  6  =  24
  4  x  7  =  28
  4  x  8  =  32
  4  x  9  =  36
  4  x  10  =  40
  4  x  11  =  44
  4  x  12  =  48
the inner loop is end

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['พี่บูม','ดายน์','แตงโม','ฝน','พี่เจ็ท','น้องแคมป์']

In [ ]:
print_feelings('เจมส์',list_friends)

เจมส์ คิดถึง พี่บูม
เจมส์ คิดถึง ดายน์
เจมส์ คิดถึง แตงโม
เจมส์ คิดถึง ฝน
เจมส์ คิดถึง พี่เจ็ท
เจมส์ คิดถึง น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

##Dictionary (Data Structure)
โครงสร้างข้อมูลที่จัดเก็บข้อมูล โดยการอ้างอิงโดย text
วงเล็บ ```{}``` Curly Brackets

In [ ]:
Ex_dict_A = {'memberA':[1, 2, 3], 'memberB':8, 'memberC':'abc'}

In [ ]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA'][1]

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [ ]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [ ]:
name_grade['ปนัดดา']

'A'

In [ ]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [ ]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [ ]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [ ]:
#loop dict ต้อง loop ตรง key เพราะจะได้รู้ว่าเป็นค่าของอะไร loop ตรง values ไม่รู้ว่าเป็นของใคร
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

### conditional คือ เงื่อนไข /ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อง Boolean (True, False)

In [ ]:
#True = 1, False = 0
condition_1 = True
condition_2 = False

##### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

In [ ]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [ ]:
time_list =  [
    ("18:09:10", "18:25:10"),
    ("13:38:39", "23:54:39"),
    ("16:49:58", "18:05:58"),
    ("21:49:10", "22:24:10"),
    ("08:52:21", "09:25:21"),
    ("06:56:26", "07:49:26"),
    ("12:08:05", "12:43:05"),
    ("01:48:38", "07:18:38"),
    ("08:51:21", "10:17:21"),
    ("17:05:17", "18:09:17"),
    ("18:51:21", "00:17:21"),
    ("17:05:17", "11:09:17")]

In [ ]:
for time1,time2 in time_list:
  if time_to_second(time1) < time_to_second (time2):#ถ้า time1 < time2
    diff_seconds = time_to_second(time2) - time_to_second(time1)
  elif time_to_second(time1) > time_to_second (time2):#ถ้า time1 ไม่น้อยกว่า time2
    diff_seconds = time_to_second(time2) + 24*3600 - time_to_second(time1)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

#HW3
เพิ่มฟังก์ชันแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช้ฟังก์ชันช่วยเหลืออื่น ๆ ของ python ~~(import)~~ ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

In [17]:
def seconds_to_time(seconds):
    hours = seconds // 3600
    minutes = (seconds % 3600) // 60
    if hours > 0 and minutes > 0:
        return f"{hours} hour{'s' if hours > 1 else ''} and {minutes} minute{'s' if minutes > 1 else ''}"
    elif hours > 0:
        return f"{hours} hour{'s' if hours > 1 else ''}"
    elif minutes > 0:
        return f"{minutes} minute{'s' if minutes > 1 else ''}"
    else:
        return "0 minutes"  # For the case that every values is 0

In [18]:
time_list = [
    ("18:09:10", "18:25:10"),
    ("13:38:39", "23:54:39"),
    ("16:49:58", "18:05:58"),
    ("21:49:10", "22:24:10"),
    ("08:52:21", "09:25:21"),
    ("06:56:26", "07:49:26"),
    ("12:08:05", "12:43:05"),
    ("01:48:38", "07:18:38"),
    ("08:51:21", "10:17:21"),
    ("17:05:17", "18:09:17"),
    ("18:51:21", "00:17:21"),
    ("17:05:17", "11:09:17")
]

In [19]:
for time1, time2 in time_list:
    if time_to_second(time1) < time_to_second(time2):
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    elif time_to_second(time1) > time_to_second(time2):
        diff_seconds = time_to_second(time2) + 24*3600 - time_to_second(time1)
    else:
        diff_seconds = 0  # Handle case where times are equal (though not in the provided data)

    time_diff = seconds_to_time(diff_seconds)
    print(f"Time difference between {time1} - {time2} is {time_diff}")

Time difference between 18:09:10 - 18:25:10 is 16 minutes
Time difference between 13:38:39 - 23:54:39 is 10 hours and 16 minutes
Time difference between 16:49:58 - 18:05:58 is 1 hour and 16 minutes
Time difference between 21:49:10 - 22:24:10 is 35 minutes
Time difference between 08:52:21 - 09:25:21 is 33 minutes
Time difference between 06:56:26 - 07:49:26 is 53 minutes
Time difference between 12:08:05 - 12:43:05 is 35 minutes
Time difference between 01:48:38 - 07:18:38 is 5 hours and 30 minutes
Time difference between 08:51:21 - 10:17:21 is 1 hour and 26 minutes
Time difference between 17:05:17 - 18:09:17 is 1 hour and 4 minutes
Time difference between 18:51:21 - 00:17:21 is 5 hours and 26 minutes
Time difference between 17:05:17 - 11:09:17 is 18 hours and 4 minutes

#### ==, !=,>=,<=,<,>


1.   == :The operator will return “true” if both the operands are equal.

In [ ]:
'พี่บูม' == 'พี่เจ็ท'

False

In [ ]:
'พี่บูม' != 'พี่เจ็ท'

True

#### หากหลังเงื่อนไข True ถูกต้องจะทำการ print ข้อความออกมาว่า Yes

In [ ]:
if True:
    print('Yes')

Yes

In [ ]:
if False:
    print('No')

#### หากหลังเงื่อนไข False ไม่ถูกต้องจะไม่ปริ้นข้อความใดๆออกมา
#### ซึ่งจะต้องใช้เงื่อนไขนี้ จึงจะได้ปริ้นค่าเงื่อนไขนั้นออกมา ดังนี้

In [ ]:
if False:
    print('Yes')
else:
    print('No')

No

# HW4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

In [6]:
def calculate_grade(score):
    if score < 0 or score > 100:
        raise ValueError("Score must be between 0 and 100 inclusive.")

    if score < 50:
        return "F"
    elif score < 55:
        return "D"
    elif score < 60:
        return "D+"
    elif score < 65:
        return "C"
    elif score < 70:
        return "C+"
    elif score < 75:
        return "B"
    elif score < 80:
        return "B+"
    else:
        return "A"

In [25]:
score = [-1, 49, 54, 59, 64, 69, 74, 79, 80, 101]

In [26]:
for i in score:
    try:
        print(f"Score: {i}, Grade: {calculate_grade(i)}")
    except ValueError as e:
        print(f"Invalid score: {i}. {e}")

Invalid score: -1. Score must be between 0 and 100 inclusive.
Score: 49, Grade: F
Score: 54, Grade: D
Score: 59, Grade: D+
Score: 64, Grade: C
Score: 69, Grade: C+
Score: 74, Grade: B
Score: 79, Grade: B+
Score: 80, Grade: A
Invalid score: 101. Score must be between 0 and 100 inclusive.

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## &, |, in, is: Other Operators

In [ ]:
if True and True:
    print(True & True)

True

In [ ]:
if (1>0) & (0>-1):
  print(True & True)

True

In [ ]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [ ]:
#Function not return the values
def return_nothing(x):
  x = x+1

In [ ]:
a = return_nothing(5)

In [ ]:
if a is None:
  print('x is Null')
#Function not return the values เลย print null

x is Null

# Finish